<div class="jumbotron jumbotron-fluid">
  <div class="container text-center p-5">
    <h1>公開講座</h1>
    <p>〇〇大学講師陣による楽しくわかりやすい講座を受けてみませんか？</p>
  </div>
</div>
<div class="container-fluid text-center p-5">
  <h2>Pick Up</h2>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-sm-4" id=<%= course_path(course.id) %>>
        <div class="card">
          <div class="card-block">
           <div>
              <div class="card-block-image">
                <%= image_tag course.photo.url if course.photo.present? %>
              </div>
              <h4><%= link_to course.course_name, course %></h4>
              <h5><%= course.date.to_s(:datetime_jp) %></h5>
              <b>講師：<%= course.teacher_name %></b>
              <p><%= course.status %></p>
              <% if logged_in? %>
                <%= render 'favorites/favorite_button', course: course %>
              <% end %>
              <% if current_admin == course.admin %>
                <%= link_to "削除する", course, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
