<div class="bg-success ps-5 p-2">
  <h4>講座一覧</h4>
</div>

<div class="container-fluid text-center p-5">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-sm-4" id=<%= course_path(course.id) %>>
        <div class="card">
          <div class="card-block">
           <div>
              <%= image_tag course.photo.url, size: '300x300' if course.photo.present? %>
              <h4><%= link_to course.course_name, course %></h4>
              <h5><%= course.date %></h5>
              <b>講師：<%= course.teacher_name %></b>
              <p><%= course.status %></p>
              <%= link_to "お気に入り登録", course_path(course.id), class: 'btn btn-primary btn-sm' %>
              <% if current_admin == course.admin %>
                <%= link_to "削除", course, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
