<div class="bg-success ps-5 p-2">
  <h4>講座一覧</h4>
</div>

<div class="container-fluid text-center p-5">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-sm-4" id=<%= course_path(course.id) %>>
        <div class="card">
          <div class="card-block">
           <div>
              <div class="card-block-image">
                <%= image_tag course.photo.url, :alt => 'Photo' if course.photo.present? %>
              </div>
              <h4><%= link_to course.course_name, course %></h4>
              <h5><i class="bi bi-calendar-event"></i> <%= course.date.strftime("%Y年%m月%d日 %H:%M") %></h5>
              <b>講師：<%= course.teacher_name %></b>
              <p><%= course.status %></p>
              <% if logged_in? %>
                <%= render 'favorites/favorite_button', course: course %>
              <% end %>
              <% if current_admin == course.admin %>
                <%= link_to "削除する", course, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="pagy">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
